h1 {
    text-align: center;
    border-color: cornflowerblue;
    border-style: groove;
    background-color: aqua;  
}

body {
    background-color:rgb(108, 150, 190);
    text-align: center;
}

img {
    width: 40%;
}

h2 {
    color: rgb(11, 46, 85);
}